/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-Oct-2021, 09:32:24
    Author     : 2106338
*/
header{
    text-align: center;
     background: url("Assets/Backgorund.gif");
     background-size:cover;
    
}
ul{
    padding: 5px;
    background: rgba(0,0,0,00.5);
    
}
li{
    display:inline;
    padding: 0px 20px 0px 20px;
}
a{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
h1{
font-size: 60px
}
img{
    margin: 40px 0px 0px 0px;
    border: 7px solid black;
    border-radius: 20px;
}
article{
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}
@media (max-width:500px){
    body{
        background: #4c3885;
    }
    li{
        display: block;
        padding: 5px;
    }
}